{% extends '_template.html.twig' %}

{% block title %}Liste des evenements{% endblock %}

{% block content %}
<h1>Liste des événements</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Créateur</th>
            </tr>
        </thead>
        <tbody>
    {% for event in event_list %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.place }}</td>
            <td>{{ event.date|date('d/m/Y') }}</td>
            <td>{{ event.author.lastname }} {{ event.author.name }}</td>
        </tr>

    {% endfor %}
        </tbody>
    </table>


{% endblock %}
