{% extends '_template.html.twig' %}

{% block title %}Liste des evenements{% endblock %}

{% block content %}
<h1 class="title">{{ event_list|length }} événements</h1>
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Créateur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for event in event_list %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.place }}</td>
            <td>{{ event.date|date('d/m/Y') }}</td>
            <td>{{ event.author.lastname }} {{ event.author.name }}</td>
            <td>
                <a class="button is-small is-success" href="{{ path('event_page', {id: event.id}) }}">Voir</a><br>
                {%  if is_granted("EVENT_CHANGE", event) %}
                <a class="button is-small is-danger" href="{{ path('event_page', {id: event.id}) }}">Effacer</a><br>
                <a class="button is-small is-warning" href="{{ path('event_page', {id: event.id}) }}">Modifier</a>
                {% endif %}
            </td>
        </tr>

    {% endfor %}
        </tbody>
    </table>


{% endblock %}
